.login-container{
    width: 800px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 16px;
    background: aquamarine;
    border: 1px solid transparent;
    box-shadow: 0px 2px 3px rgba(135, 135, 135, 0.1);
    transition: 0.4s;
}
.login-container input{
    padding: 2px;
    margin-top: 8px;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 3px;
    border-color: blue;
}
.login-container button{
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 4px;
    border-bottom: blue;
}