body{margin: 0px}
/* Whole Page Layout */
.page-wrapper {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
}

/* LEFT SIDE */
.left-side {
    width: 60%;
    background-image: url(./assets/assignment.avif);
    background-size:cover;
    background-position: center;
    /* background: linear-gradient(135deg, #5A00FF, #009FFD); */
    color: white;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    font-weight: bold;
    color: #286964;
    text-shadow: 2px 2px gray;
    text-align: center;
    font-size: 65px;
}

.tagline {
    font-size: 18px;
    text-align:center;
    margin-top: 10px;
    opacity: 0.2;
    color: #3300AA;
}

.image-box {
    margin-top: 40px;
    text-align: center;
    padding: 40px;
    background: rgba(255,255,255,0.4);
    border-radius: 12px;
    text-align:justify;
    font-size: 20px;
}
.image{
    text-align: center;
}
/* RIGHT SIDE */
.right-side {
    width: 50%;
    padding: 50px;
    background: #F5F5F7;
}

/* NAV BAR */
.nav-bar {
    display: flex;
    justify-content:center;
    gap: 20px;
    margin-bottom: 30px;
}

.nav-bar button {
    background: transparent;
    border: 2px solid #5A00FF;
    padding: 8px 18px;
    border-radius: 8px;
    cursor: pointer;
    color: #5A00FF;
    font-weight: bold;
    transition: 0.3s;
}

.nav-bar button:hover {
    background: #5A00FF;
    color: white;
}

/* FORMS */
.form-box {
    width: 400px;
    padding: 55px;
    background: rgb(255, 255, 255);
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
    margin: auto;
    text-align: center;
}

.form-box input,
.form-box select {
    width: 90%;
    padding: 12px;
    margin-top: 12px;
    border-radius: 8px;
    border: 1px solid #999;
}

.form-box button {
    width: 95%;
    padding: 12px;
    background: #5A00FF;
    color: white;
    border: none;
    margin-top: 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.form-box button:hover {
    background: #3300AA;
}

/* LINKS */
.link {
    color: #5A00FF;
    cursor: pointer;
    font-weight: bold;
}

/* POPUP */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    padding: 30px;
    border-radius: 12px;
    width: 300px;
    text-align: center;
}

.msg {
    margin-top: 10px;
    color: green;
}
/*pulsar*/

.image{
    background-image: url(./assets/images/taskgif.gif);
    background-size: cover;
    width: 300px;
    height: 190px;
    margin: 0 auto;
    border: 1px;
    border-radius: 20px;

}
